.card {
	display: inline-block;
	width: 18%;
	background-color: white;
	text-align: center;
	/* height: 500px; */
    border: 5px solid black;
    border-radius: 15px;
    box-sizing: border-box;
}
img {
	width: 100%;
	border-radius: 11px 11px 0 0;
	vertical-align: top;
}
body {
	background-color: rgb(174, 240, 196);
	text-align: center;
}
h2 {
	text-align: center;
}
.button {
	background-color: rgb(174, 240, 196);
	text-decoration: none;
    color: #524f4e;
    border-radius: 45px;
    display: inline-block;
    width: 40%;
	font-size: 14px;
	vertical-align: text-bottom;
}


h2 {
	color: #4B0082;
	font-size: 30px;
}

